# Visual Studio temp
.vs

# bin
Client/bin
ClientUI/bin
CryptoConsole/bin
CryptoLibrary/bin
CryptoWallet/bin
Server/bin

# obj
Client/obj
ClientUI/obj
CryptoConsole/obj
CryptoLibrary/obj
CryptoWallet/obj
Server/obj